@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "poppins";
  src: local("Poppins"),
    url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "redditmono";
  src: local("Redditmono"),
    url("../../public/fonts/RedditMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}
.font-face-Poppins {
  font-family: "poppins", sans-serif;
}
.font-face-Poppins {
  font-family: "redditmono", sans-serif;
}

.font-face-Roboto {
  font-family: "Roboto", sans-serif;
}
