$color-primary-red: #ea4335;
$color-primary-purple: #ad88c6;
$color-dark-purple: #554994;
$color-primary-gray: #6b7280;
$color-primary-orange: #deb6ab;
$color-primary-green: #22c55e;
$color-secondary-gray: #d1d5db;
$color-secondary-purple: #e1afd1;
$color-secondary-white: #fff9f9;
$color-secondary-green: #bbf7d0;
$color-secondary-red: #fecaca;
$color-tertiary-purple: #7469b6;
$color-tertiary-red: #df6a6a;
